{{ define "bodyclasses" }}single page 404{{ end }}

{{ define "main" }}
	<div class="wrapper">
			{{ partial "header-small.html" . }}
		<div class="section">
			<div class="container">
				<article class="post">
						<header>
								<div class="title text-center">
										<h1 class="title"><a href="#">Vou continuar a procurar</a></h1>
										<p>album/6UYUblITZs7VZf3pPhfQzJ</p>
								</div>
						</header>
						<p>Não estou a encontrar o que procuras. Sugiro que uses a pesquisa do site ou <a href="/page/contact"><strong>envies um email</strong></a> para eu tentar ajudar.</p>
				</article>
				<div class="separator separator-primary"></div>
			</div>
		</div>
	</div>
{{ end }}