
<footer class="footer footer-big" data-background-color="black">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-3">
                    <h5>{{ i18n "explore" | upper }}</h5>
                    <ul class="links-vertical">
                    	{{- range .Site.Menus.explore -}}
                        <li>
                            <a href="{{ .URL }}" class="text-muted">
                                {{ .Name }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>{{ i18n "resources" | upper }}</h5>
                    <ul class="links-vertical">
                    		{{- range .Site.Menus.resources -}}
                    	    <li>
                    	        <a href="{{ .URL }}" class="text-muted">
                    	            {{ .Name }}
                    	        </a>
                    	    </li>
                    	    {{ end }}
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>{{ i18n "legal" | upper }}</h5>

                    <ul class="links-vertical">
                    			{{- range .Site.Menus.legal -}}
                    		    <li>
                    		        <a href="{{ .URL }}" class="text-muted">
                    		            {{ .Name }}
                    		        </a>
                    		    </li>
                    		    {{ end }}
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>{{ i18n "follow" | upper }}</h5>
                    <ul class="social-buttons">
                    	{{ $author := "" }}
                        {{ with .Site.Params.defaultAuthor }}
                            {{- $author = .Site.GetPage (printf .Site.Params.defaultAuthor ) -}}
                        {{ end }}
                        {{ if ne $author "" }}
                    	{{ with $author.Params.profiles }}
                    	{{ $map := (index $author.Params.profiles ) }} {{$map}}
                    	{{ range $key, $val := $author.Params.profiles }}
                    		<li class="ml-1">
                    			<a href="{{ $val }}" title="{{ $.Site.Title }} on {{ $key }}" class="btn btn-icon btn-neutral btn-{{ printf $key }} btn-round">
                    				<i class="fab fa-{{ printf $key }}"></i>
                    			</a>
                    		</li>
                    		{{ end }}
                    	{{ end }}
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright">
        	Copyright &copy; {{ now.Format "2006"}}; {{ if ne $author "" }}{{ $author.Params.name }}{{ end }}
        </div>
    </div>
</footer>