{{ define "main" }}

{{ $data := .Pages }}

{{ $home := .IsHome }}

{{ $ShowMonth := .Site.Params.showmonth}}

<article class="archive">
  <header style="text-align: center;">
    {{ if .IsHome }}
      {{ if .Site.Params.Slogan }}
      <div class="slogan">
        {{ .Site.Params.Slogan }}
      </div>
      {{ end }}
    {{ else }}
    <h1>
      {{ .Title }}
    </h1>
    {{ end }}
  </header>

  <div class="post-list">

    <ul>
      {{ $year := 0 }}
      {{ $month := 0 }}
      {{ $dataYear := "" }}
      {{ $dataMonth := "" }}

      {{ range sort $data ".Params.discovery_date" "desc"}}

        {{ $dataYear = (dateFormat "2006" .Params.discovery_date ) }} 
        {{ $dataMonth = (dateFormat "01" .Params.discovery_date ) }}

        {{ if ne $dataYear $year }}
          {{ $year = $dataYear }}
          <h2 class="year">{{ $year }}</h2>
        {{ end }}

        {{ if ne $dataMonth $month }}
          {{ $month = $dataMonth }}
          <h3 class="month">{{ dateFormat "January" .Params.discovery_date }}</h3>
        {{ end }}

        <li class="post-item">
        {{ if .Params.discovery_date }}
          <time datetime="{{ dateFormat "2006-01-02T15:04:05Z07:00" .Params.discovery_date }}">{{ dateFormat "2006-01-02" .Params.discovery_date }}</time>
        {{ end }}
          <a href="{{ .Permalink  }}">{{ .Title }}</a> {{ .Params.source | safeHTML }}
           <!-- range .Params.categories 
            >> <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" padding-left: auto;><strong>{{ . }}</strong></a>
           end  -->
        </li>
      {{ end }}
    </ul>

  </div>
</article>

{{ end }}