absl-py==1.0.0
algoliasearch==2.6.0
astunparse==1.6.3
attrs==21.2.0
autopep8==1.5.7
bcrypt==3.2.0
blis==0.7.4
cached-property==1.5.2
cachetools==4.2.4
catalogue==2.0.6
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==7.1.2
cryptography==3.4.8
cymem==2.0.5
distro==1.6.0
docker==5.0.1
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
et-xmlfile==1.1.0
filelock==3.0.12
flatbuffers==2.0
gast==0.4.0
gitdb==4.0.7
GitPython==3.1.18
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.43.0
h5py==3.6.0
huggingface-hub==0.0.12
idna==3.2
importlib-metadata==4.6.4
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
jwt==1.3.1
keras==2.7.0
Keras-Preprocessing==1.1.2
langcodes==3.3.0
libclang==12.0.0
Markdown==3.3.6
MarkupSafe==2.0.1
murmurhash==1.0.5
numexpr==2.8.1
numpy==1.21.2
oauthlib==3.1.1
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==21.0
pandas==1.3.2
paramiko==2.7.2
pathy==0.6.0
preshed==3.0.5
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.8.2
PyJWT==2.3.0
PyNaCl==1.4.0
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
python-dotenv==0.19.0
pytz==2021.1
PyYAML==5.4.1
regex==2021.8.21
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
sacremoses==0.0.45
scikit-learn==1.0.1
six==1.16.0
smart-open==5.2.0
smmap==4.0.0
spacy==3.2.1
spacy-alignments==0.8.3
spacy-legacy==3.0.8
spacy-loggers==1.0.1
spacy-transformers==1.0.4
sql-metadata==2.2.2
sqlparse==0.4.1
srsly==2.4.1
tables==3.6.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
texttable==1.6.4
thinc==8.0.13
tokenizers==0.10.3
toml==0.10.2
torch==1.9.0
tqdm==4.62.2
transformers==4.9.2
typer==0.3.2
typing-extensions==3.10.0.0
urllib3==1.26.6
wasabi==0.8.2
websocket-client==0.59.0
Werkzeug==2.0.2
wrapt==1.13.3
zipp==3.5.0