absl-py==0.13.0
appnope==0.1.2
argcomplete==1.12.3
asn1crypto==0.24.0
astor==0.8.1
astunparse==1.6.3
backcall==0.2.0
beautifulsoup4==4.9.3
blis==0.7.4
bs4==0.0.1
cached-property==1.5.2
cachetools==4.2.2
catalogue==2.0.6
certifi==2021.5.30
chardet==3.0.4
charset-normalizer==2.0.4
clang==5.0
click==8.0.2
cryptography==2.6.1
cycler==0.10.0
cymem==2.0.5
debugpy==1.4.1
decorator==5.0.9
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
entrypoints==0.3
flatbuffers==1.12
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
grpcio==1.39.0
h5py==3.1.0
html5lib==1.0.1
idna==3.2
importlib-metadata==4.8.1
ipykernel==6.2.0
ipython==7.26.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.2
joblib==1.0.1
jupyter-client==7.0.1
jupyter-core==4.7.1
keras==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.3.1
lxml==4.3.2
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
murmurhash==1.0.5
nest-asyncio==1.5.1
numexpr==2.7.3
numpy==1.19.5
oauthlib==3.1.1
olefile==0.46
opt-einsum==3.3.0
packaging==21.0
pandas==1.3.2
parso==0.8.2
pathy==0.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
preshed==3.0.5
prompt-toolkit==3.0.20
protobuf==3.17.3
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycrypto==2.6.1
pydantic==1.8.2
Pygments==2.10.0
PyGObject==3.30.4
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
pyxdg==0.25
pyzmq==22.2.1
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.7.1
SecretStorage==2.3.1
six==1.15.0
smart-open==5.2.1
soupsieve==2.2.1
spacy==3.1.3
spacy-legacy==3.0.8
srsly==2.4.1
stopwords==1.0.0
tables==3.4.4
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==1.14.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
thinc==8.0.10
threadpoolctl==2.2.0
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
typer==0.4.0
typing-extensions==3.7.4.3
urllib3==1.26.6
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.6.0