./.env
.gitignore
content/articles/*/
content/developers/articles.json
content/developers/articles.xlsx
content/developers/articles*
content/developers/trials.json
content/developers/trials.xlsx
content/developers/trials*
content/trials/*/
data/articles.json
data/trials.json
dev.py
docker-data/
docker-data/
docker-python/
modules/
node_modules
public/
resources/
workspace.code-workspace
.hugo_build.lock
hugo
.env
data/embeds.json
metabase/db-data/
__pycache__/
python-ml/utils/__pycache__/
python-ml/utils/__pycache__/model_utils.cpython-37.pyc
python-ml/utils/__pycache__/text_utils.cpython-37.pyc
db-data/
python-ml/data/202*-*.csv
python-ml/data/202*-*.json