./.env
dev.py
data/articles.json
data/trials.json
public/
modules/
content/articles/*/
content/trials/*/
docker-data/
workspace.code-workspace
docker-python/
docker-data/
resources/
content/developers/articles*
content/developers/trials*
node_modules
.gitignore
