__pycache__/
./.env
.DS_Store
.env
.gitignore
.hugo_build.lock
.venv
.vscode/
data/articles.json
data/embeds.json
data/trials.json
db-data/
dev.py
django/data/
django/gregory/data/
django/gregory/migrations/
django/gregory/ml_models/*
django/indexers/input/*.json
django/static
docker-data/
docker-python/
env
env3.10
env311
env311/
hugo/content/articles
hugo/content/articles/*/
hugo/content/developers/*.xlsx
hugo/content/developers/*.zip
hugo/content/developers/**/*.json
hugo/content/developers/articles.json
hugo/content/developers/articles.xlsx
hugo/content/developers/articles.zip
hugo/content/developers/trials.json
hugo/content/developers/trials.xlsx
hugo/content/developers/trials.zip
hugo/content/trials
hugo/content/trials/*/
hugo/data/
hugo/data/embeds.json
hugo/hugo_stats.json
metabase-data/
metabase/db-data/
modules/
node_modules
nodered-data/
postgres-data/
public/
python-ml/data/202*-*.csv
python-ml/data/202*-*.json
python-ml/data/source.json
python-ml/models/
python-ml/utils/__pycache__/
resources/
venv
venv3
venv311
workspace.code-workspace
postgres-data_old
