version: "3.7"

services:
  db:
    image: postgres
    restart: always
    container_name: db
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - 5432:5432
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - gregory_network

  node-red:
    image: nodered/node-red:latest
    restart: always
    container_name: node-red 
    environment:
      - TZ=Europe/Lisbon
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
      - DB_HOST=${DB_HOST}
    ports:
      - "1880:1880"
    networks:
      - gregory_network
    volumes:
      - ./nodered-data:/data

  admin:
    container_name: admin
    restart: always
    build: 
      context: django/
      dockerfile: Dockerfile
    # used for local development
    command: python manage.py runserver 0.0.0.0:8000
    # command: gunicorn --workers 4 --threads 2 --log-level debug -b 0.0.0.0:8000 admin.wsgi
    volumes:
      - ./django:/code
      - ./python-ml:/python-ml
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DOMAIN_NAME=${DOMAIN_NAME}
      - EMAIL_DOMAIN=${EMAIL_DOMAIN}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
      - EMAIL_HOST_USER=${EMAIL_HOST_USER}
      - EMAIL_HOST=${EMAIL_HOST}
      - EMAIL_MAILGUN_API_URL=${EMAIL_MAILGUN_API_URL}
      - EMAIL_MAILGUN_API=${EMAIL_MAILGUN_API}
      - EMAIL_PORT=${EMAIL_PORT}
      - EMAIL_USE_TLS=${EMAIL_USE_TLS}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - SECRET_KEY=${SECRET_KEY}

    networks:
      - gregory_network
    depends_on:
      - db
  metabase:
    container_name: metabase
    volumes:
      - ./metabase-data:/metabase-data
    environment:
      - MB_DB_TYPE=postgres
      - MB_DB_DBNAME=metabase
      - MB_DB_PORT=5432
      - MB_DB_USER=${POSTGRES_USER}
      - MB_DB_PASS=${POSTGRES_PASSWORD}
      - MB_DB_HOST=${DB_HOST}
    ports:
      - 3000:3000
    image: metabase/metabase
    restart: always
    depends_on:
      - db
    networks:
      - gregory_network

networks:
  gregory_network:
    external: false
    name: gregory_network
  default:
    driver: bridge
