{{ with .Get "title" }}
	<h4>{{ . }}</h4>
{{ end }}
	<div class="gallery" itemscope itemtype="http://schema.org/ImageGallery">
	{{- range (.Page.Resources.Match (printf "%s*" (.Get "folder"))) }}
	{{ $thumbnail := .Resize "320x" }}
		<figure itemscope itemtype="http://schema.org/ImageObject" class="image gallery-item">
		<a href="{{ .Permalink }}" itemprop="contentUrl" data-size="{{ .Width }}x{{ .Height }}" >
			<img src="{{ $thumbnail.Permalink }}" itemprop="thumbnail" alt="galleryImage" class="galleryImage" />
		</a>
		<figcaption itemprop="caption description">
			<span itemprop="copyrightHolder"></span>
		</figcaption>
		</figure> 
	{{ end }}
	</div>