{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name">
	<a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
</div>
{% endblock %}



{% block footer %}
<div id="footer" style="margin-top: 40px; padding: 20px 0; border-top: 1px solid #eee; text-align: center; color: #666; font-size: 11px;">
	<p>
		Powered by <a href="https://www.djangoproject.com/" style="color: #007cba;">Django</a> |
		<a href="/acknowledgements/" style="color: #007cba; text-decoration: none;" target="_blank">
			View Acknowledgements
		</a>
	</p>
</div>
{% endblock %}