{{ define "bodyclasses" }}post-list _default/post-list-html {{ end }}

{{ define "data-attributes" }}
	data-contentgrouptype="{{ .Data.Singular }}" 
	data-contentgroupname="{{ .Title }}"
{{ end }}

{{ define "description" }}

{{ end }}

{{ define "main" }}
<div class="wrapper">
	{{ partial "header-small.html" . }}
	<div class="section">
		<div class="container">
			<a name="content"></a>
			<section id="category-list" class="card-group">
					<div class="row">
						<div class="col-12">{{ .Content }}</div>
						{{ if eq .Data.Singular "tag" }}
								{{ range (.Paginate (where .Data.Pages ".Params.options.unlisted" false) 9).Pages }}
									{{ .Render "summary" }}
								{{ end }}
							{{ else }}
								{{ range (.Paginate (where (where .Data.Pages "Section" "!=" "instagram") ".Params.options.unlisted" false) 9).Pages }}
									{{ .Render "summary" }}
								{{ end }}
						{{ end }}
						{{ partial "pagination.html" . }}
					</div>
			</section>
			<div class="separator separator-primary"></div>
		</div>
	</div>
</div>
{{ end }}

{{ define "list-javascript" }}
	{{ partial "comments-js.html" . }}
{{ end }}