{{ define "bodyclasses" }}section-list _default/section.html post-list post-list-html {{ end }}

{{ define "data-attributes" }}
	data-contentgrouptype="{{ .Section }}" data-contentgroupname="{{ .CurrentSection.Title }}" data-articletitle="{{ .Title }}"
{{ end }}

{{ define "description" }}
	{{ partial "description.html" . }}
{{ end }}
{{ define "main" }}
<div class="wrapper">
	{{ if or (eq .Params.options.header "small") (eq .Params.options.header "mini") (eq .Params.options.header nil ) }}
		{{ partial "header-small.html" . }}
	{{ else if eq $.Params.options.header "full"  }}
		{{ partial "header-full.html" . }}
	{{ end }}

	<div class="section">
		<div class="container">
			<a name="content"></a>
			<section id="category-list" class="card-group">
					<div class="row">
					{{ $list := "none" }}
						{{ if eq .Params.options.unlisted true }}
							{{ $list = (where (where .Data.Pages ".Params.options.unlisted" true) "Section" "!=" "instagram") }}
						{{ else }}
							{{ $list = (where (where .Data.Pages ".Params.options.unlisted" false) "Section" "!=" "instagram") }}
						{{ end }}

						{{ with .Sections }}
							{{ $stories := where . ".Params.options.unlisted" false }}
							{{ range $stories }}
								{{ .Scratch.Set "columns" (len $stories) }}
								{{ partial "story-card.html" . }}
							{{ end }}                               
						{{ end }}

						<div class="col-12">{{ .Content }}</div>

						{{ if not (or (eq .CurrentSection.Name (i18n "stories")) (eq .Section "page")) }}
							{{ range (.Paginate $list 9).Pages }}
								{{ .Render "summary" }}
							{{ end }}
						{{ end }}
						
					</div>
			</section>
			<section class="py-1">
				<div class="container">
				  <div class="row py-2">
					<div class="col-md-12">
			
			{{ $pag := $.Paginator }}
			{{ if gt $pag.TotalPages 1 -}}
			<ul class="pagination pagination-primary m-4 d-flex justify-content-center">
			  {{ if $pag.HasPrev }}
			  {{ with $pag.First -}}
			  <li class="page-item">
				<a href="{{ .URL }}" class="page-link" aria-label="First">
					<span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
				</a>
			  </li>
			  {{ end }}
			
			
			
			  <!-- <li class="page-item disabled">
				<span class="page-link" aria-label="Previous">
					<span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
				</span>
			  </li>
			 -->
			
			  <li class="page-item{{ if not $pag.HasPrev }} disabled{{ end }}">
				<a {{ if $pag.HasPrev }}href="{{ $pag.Prev.URL }}"{{ end }} class="page-link" aria-label="Previous">
					<span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
				</a>
			  </li>
			{{ end }}

			  {{- $ellipsed := false -}}
			  {{- $shouldEllipse := false -}}
			  {{- range $pag.Pagers -}}
			  {{- $right := sub .TotalPages .PageNumber -}}
			  {{- $showNumber := or (le .PageNumber 3) (eq $right 0) -}}
			  {{- $showNumber := or $showNumber (le .TotalPages 5) -}}{{/* Issue #7523 */}}
			  {{- $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2))) -}}
			  {{- if $showNumber -}}
				{{- $ellipsed = false -}}
				{{- $shouldEllipse = false -}}
			  {{- else -}}
				{{- $shouldEllipse = not $ellipsed -}}
				{{- $ellipsed = true -}}
			  {{- end -}}
			  {{- if $showNumber }}
			  <li class="page-item{{ if eq . $pag }} active{{ end }}">
				<a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a>
			  </li>
			  {{- else if $shouldEllipse }}
			  <li class="page-item disabled">
				<span aria-hidden="true">&nbsp;&hellip;&nbsp;</span>
			  </li>
			  {{- end -}}
			  {{- end }}
			  {{ if $pag.HasNext }}
			  <li class="page-item{{ if not $pag.HasNext }} disabled{{ end }}">
				<a {{ if $pag.HasNext }}href="{{ $pag.Next.URL }}"{{ end }} class="page-link" aria-label="Next">
					<span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
				</a>
			  </li>
			
			  {{- with $pag.Last }}
			  <li class="page-item">
				<a href="{{ .URL }}" class="page-link" aria-label="Last">
					<span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i></span>
				</a>
			  </li>
			  {{- end }}
			  {{ end }}
			</ul>
			{{ end }}
			</div>
			</div>
			</div>
			</section>

		</div>
	</div>
</div>
{{ end }}

{{ define "list-javascript" }}
	{{ partial "comments-js.html" . }}
{{ end }}