{{ define "main" }}

{{ $Data := $.Site.Data.articles }}

{{ $home := .IsHome }}

{{ $ShowMonth := .Site.Params.showmonth}}

<article class="archive">
  <header style="text-align: center;">
    {{ if .IsHome }}
      {{ if .Site.Params.Slogan }}
      <div class="slogan">
        {{ .Site.Params.Slogan }}
      </div>
      {{ end }}
    {{ else }}
    <h1>
      {{ .Title }}
    </h1>
    {{ end }}
  </header>

  <div class="post-list">

  {{ partial "list-data" . }}

  </div>
</article>

{{ end }}