{{ define "main" }}

{{ $data := where $.Site.Data.articles "relevant" "=" 1 }}

{{ $home := .IsHome }}

{{ $ShowMonth := .Site.Params.showmonth}}

<article class="archive">
  <header style="text-align: center;">
    {{ if .IsHome }}
      {{ if .Site.Params.Slogan }}
      <div class="slogan">
        {{ .Site.Params.Slogan }}
      </div>
      {{ end }}
    {{ else }}
    <h1>
      {{ .Title }}
    </h1>
    {{ end }}
  </header>

  <div class="post-list">
    <p><strong>Última atualização</strong> {{ now.Format "2 Jan, 15:04" }}</p>

    {{ partial "list-data" . }}  

  </div>
</article>

{{ end }}