
<ol>
{{ range .Site.Data.clinicalcenters }}
<li><a href="#{{.title|urlize}}">{{.title}}</a></li>
{{end}}
</ol>

{{ range .Site.Data.clinicalcenters }}

<h2 class="title" id="{{.title|urlize}}" >{{ .title }}</h2>

<ul>
<li><strong>Email:</strong> {{.email}}</li>
<li><strong>Telephone:</strong> {{.telephone}}</li>
<li><strong>Website:</strong> <a href="{{.website}}">{{.website}}</a></li>
<li><strong>Areas:</strong> {{.areas}}</li>
<li><strong>Address:</strong> {{.address}}</li>
<li><strong>Country:</strong> {{.country}}</li>
</ul>


{{.description | replaceRE "\n" "<br>" | safeHTML}}
{{ end }}
