{{ define "bodyclasses" }}root{{ end }} {{ define "description" }}

<meta name="description" content="{{ $.Site.Params.description }}" />
<meta name="twitter:description" content="{{ $.Site.Params.description }}" /> {{ end }} 
{{ define "main" }}
{{ $headerSize := $.Params.options.header }}

{{ if eq $headerSize nil }}
	{{ $headerSize = "small" }}
{{ end }} 
<div class="wrapper">
	<div class="page-header page-header-{{ $headerSize }}">
		<div class="page-header-image d-print-none" data-parallax="true" style="background-image: url('{{ partial "header-image.html" . }}');">
		</div>
		<div class="content-center">
			<div class="container">
				<div class="
				{{ with $.Params.title_align }}
				col-md-12 text-{{.}}
				{{ else }}
				col-md-8 ml-auto mr-auto text-center
				{{ end }}
	
					">
					{{- if (ne .Params.options.showTitle false)  }}
					<h1 class="title" itemprop="headline d-print-block">{{ .Title }}</h1>
					{{ end }}
					{{- with .Params.subtitle }}
						<h2 itemprop="subtitle d-print-block">{{ . }}</h2>
					{{- end }}
					{{- with .Params.cta }}
						{{ range . }}
							<a href="{{ with .url }} {{ . }}{{ end }}" class="btn btn-lg {{ with .classes }}{{ . }}{{ else }} btn-primary{{ end }}">{{ with .label }}{{ . | safeHTML }}{{ end }}</a>
						{{ end }}
					{{- end }}
				</div>
			</div>
		</div>
	</div>

    <div class="section">
        <div class="container">
            
                <div class="container">
                  <div class="row">
                    <div class="col-12 text-center"><h2 class="title">Daily information on Multiple Sclerosis</h2>
                      {{ $count := len (where .Site.RegularPages "Section" "articles") }}
                      <p class="text-center">Last Update <strong>{{ now.Format "2 Jan, 15:04" }}</strong> with <strong>{{$count}}</strong> articles, since February 2021.</p>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-3">
                      <a href='{{ ref . "doctors/index.md" }}'>
                      <div class="info info-hover">
                        <div class="icon icon-success icon-circle">
                          <i class="fas fa-user-md"></i>
                        </div>
                        <h2 class="h4 font-weight-normal info-title">For Doctors</h2>
                      </div>
                    
                  </a>
                </div>

                    <div class="col-md-3">
                      <a href='{{ ref . "researchers/index.md" }}'>
                      <div class="info info-hover">
                        <div class="icon icon-info icon-circle">
                          <i class="fas fa-brain"></i>
                        </div>
                        <h2 class="h4 font-weight-normal info-title">For Researchers</h2>
                      </div>
                    
                  </a>
                </div>
                <div class="col-md-3">
                  <a href='{{ ref . "physicaltherapists/index.md" }}'>
                  <div class="info info-hover">
                    <div class="icon icon-warning icon-circle">
                      <i class="fas fa-walking"></i>
                    </div>
                    <h2 class="h4 font-weight-normal info-title">For Physical Therapists</h2>
                  </div>
                
              </a>
            </div>

                    <div class="col-md-3">
                      <a href='{{ ref . "patients/index.md" }}'>
                      <div class="info info-hover">
                        <div class="icon icon-primary icon-circle">
                          <i class="far fa-hospital"></i>
                        </div>
                        <h2 class="h4 font-weight-normal info-title">For Patients</h2>
                      </div>
                    
                  </a>
                </div>
                  </div>
                

                  <div class="row align-items-center">
                    <div class="col-12">                      
                      <h2 class="text-center title">How it works</h2></div>
                    <div class="col-md-7">

                      <h3><span class="text-muted title">Step 1</span> Search for Multiple Sclerosis</h3>
                      <p>Gregory searches the web multiple times a day looking for Articles and Clinical Trials.</p>
                      {{/*  <p>Search terms: <em>Multiple Sclerosis, autoimmune encephalomyelitis, encephalomyelitis, immune tolerance, myelin</em></p>  */}}
                      <h3><span class="text-muted title">Step 2</span> Index and organise</h3>
                      <p>We use text analysis and machine learning to identify relevant articles to list on the home page.</p>
                      <h3><span class="text-muted title">Step 3</span> Filter and distribute</h3>
                      <p><strong>Every 2 days</strong> the admin team tags which articles show promise for new treatment and better quality of life for people with Multiple Sclerosis.</p>
                      <p><strong>Every week</strong> the articles tagged as relevant for patients are compiled and sent to a mailing list of doctors, researchers, and physical therapists.</p>
                    </div>
                    <div class="col-md-4">
                      <img src="undraw_the_search_s0xf.svg" class="img-fluid" alt="" loading="lazy">
                    </div>
                  </div>
                    <div class="row">
                        <div class="col-md-10 ml-auto mr-auto">
                            <h2 class="text-center title" id="relevantarticles">Relevant articles</h2>

                            <p class="text-center">
                              <span class="badge badge-info text-white font-weight-normal">indicates sources</span> <span class="badge badge-primary text-white font-weight-normal">human selection</span> <span class="badge badge-success text-white font-weight-normal">indicates automatic selection</span></p>
                            {{ $ml_prediction_gnb := where .Site.RegularPages ".Params.ml_prediction_gnb" "=" 1 }}
                            {{ $relevant := where .Site.RegularPages ".Params.relevant" 1}}
                            {{ $listing := union $relevant $ml_prediction_gnb }}
                            {{ $paginator := (.Paginate $listing) }}

                            {{ partial "pagination.html" . }}

                            {{ range $paginator.Pages }} 
                            <!-- first post -->
                            <div class="card card-plain card-blog">
                                <div class="row"> 
                                    <div class="col-md-12">
                                        {{ range $index, $category := .Params.categories }}
                                        <span class="h6 category mt-3"><a class="text-info" title="{{ i18n "category" }} {{ $category}}" href="{{ $.Site.BaseURL }}categories/{{ $category | urlize }}/">{{ $category }}</a></span> 
                                        {{ end }}
                                        <h3 class="card-title">
                                            <a href="{{ .Permalink }}">{{ .Title | htmlUnescape }}</a>  
                                        </h3>
                                        <p class="card-description">
                                            {{ .Summary |  htmlUnescape | plainify | truncate 230 }}
                                            <br>
                                            <a href="{{ .Permalink }}">{{ i18n "continue_reading" }} </a>
                                        </p>
                                        <p class="author">
                                            {{ with .Params.authors }} {{ range . }} {{ $author := ($.GetPage (printf "/authors/%s/" .) ) }} {{ with $author }} {{- i18n "by" -}}
                                            <b>
											<a href="{{ $author.Permalink }}" itemprop="author" title="{{ . }}" class="author">{{ $author.Params.name }}</a>
																	{{ end }}
																</b>, {{ end }} {{ end }}
                                            <time class="published" itemprop="datePublished" datetime="{{ .Date.Format " 2006-01-02T15:04:05 " }}">{{ .Date.Format "January 2, 2006" }}</time>
                                            <span class="badge badge-info text-white font-weight-normal">{{ .Params.article_source }}</span> {{ if eq .Params.ml_prediction_gnb 1 }}<span class="badge badge-success text-white font-weight-normal">auto</span>{{ end }} {{ if and (eq .Params.relevant  1) ( eq .Params.ml_prediction_gnb 0) }}<span class="badge badge-primary text-white font-weight-normal">human</span>{{ end }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                            <!-- second post -->
                        </div>
                    </div>
                    <!-- row -->
                </div>

            
                {{ partial "pagination.html" . }}

            <div class="separator separator-primary"></div>

        </div>
    </div>
</div>
{{ end }}