{{ define "bodyclasses" }}root{{ end }} {{ define "description" }}

<meta name="description" content="{{ $.Site.Params.description }}" />
<meta name="twitter:description" content="{{ $.Site.Params.description }}" /> {{ end }} 
{{ define "main" }}
{{ $headerSize := $.Params.options.header }}

{{ if eq $headerSize nil }}
	{{ $headerSize = "small" }}
{{ end }} 
<div class="wrapper">
	<div class="page-header page-header-{{ $headerSize }}">
		<div class="page-header-image d-print-none" data-parallax="true" style="background-image: url('{{ partial "header-image.html" . }}');">
		</div>
		<div class="content-center">
			<div class="container">
				<div class="
				{{ with $.Params.title_align }}
				col-md-12 text-{{.}}
				{{ else }}
				col-md-8 ml-auto mr-auto text-center
				{{ end }}
	
					">
					{{- if (ne .Params.options.showTitle false)  }}
					<h1 class="title" itemprop="headline d-print-block">{{ .Title }}</h1> {{ .Params.options.showTitle}}
					{{ end }}
					{{- with .Params.subtitle }}
						<h2 itemprop="subtitle d-print-block">{{ . }}</h2>
					{{- end }}
					{{- with .Params.cta }}
						{{ range . }}
							<a href="{{ with .url }} {{ . }}{{ end }}" class="btn btn-lg {{ with .classes }}{{ . }}{{ else }} btn-primary{{ end }}">{{ with .label }}{{ . | safeHTML }}{{ end }}</a>
						{{ end }}
					{{- end }}
				</div>
			</div>
		</div>
	</div>

    <div class="section">
        <div class="container">
            
            <div class="" id="">
                <div class="container">
                  <div class="row">
                    <div class="col-12 text-center"><h2 class="title">Daily information on Multiple Sclerosis</h2></div>
                    <div class="col-md-4">
                      <a href='{{ ref . "doctors/index.md" }}'>
                      <div class="info info-hover">
                        <div class="icon icon-success icon-circle">
                          <i class="fas fa-user-md"></i>
                        </div>
                        <a href='{{ ref . "doctors/index.md" }}'><h4 class="info-title">For Doctors</h4></a>
                      </div>
                      </a>
                    </div>
                    <div class="col-md-4">
                      <a href='{{ ref . "researchers/index.md" }}'>
                      <div class="info info-hover">
                        <div class="icon icon-info icon-circle">
                          <i class="fas fa-brain"></i>
                        </div>
                        <a href='{{ ref . "researchers/index.md" }}'><h4 class="info-title">For Researchers</h4></a>
                      </div>
                      </a>
                    </div>
                    <div class="col-md-4">
                      <a href='{{ ref . "patients/index.md" }}'>
                      <div class="info info-hover">
                        <div class="icon icon-primary icon-circle">
                          <i class="far fa-hospital"></i>
                        </div>
                        <a href='{{ ref . "patients/index.md" }}'><h4 class="info-title">For Patients</h4></a>
                      </div>
                      </a>
                    </div>
                  </div>
                    <div class="row">
                        <div class="col-md-10 ml-auto mr-auto">
                            <h2 class="text-center title">Latest relevant articles</h2>

                            {{ $count := len (where .Site.RegularPages "Section" "articles") }}
                            <p class="text-center">Last Update <strong>{{ now.Format "2 Jan, 15:04" }}</strong> with <strong>{{$count}}</strong> articles, since February 2021.</p>
                            <br> 
                            <p class="text-center">                            <span class="badge badge-info text-white font-weight-normal">indicates sources</span> <span class="badge badge-success text-white font-weight-normal">indicates automatic selection</span></p>
                            {{ $ml_prediction_gnb := where .Site.RegularPages ".Params.ml_prediction_gnb" "=" 1 }}
                            {{ $relevant := where .Site.RegularPages ".Params.relevant" 1}}
                                                   
                            {{ $listing := union $relevant $ml_prediction_gnb }}
                            
                            {{ range (.Paginate ($listing)).Pages }} 
                            <!-- first post -->
                            <div class="card card-plain card-blog">
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ range $index, $category := .Params.categories }}
                                        <span class="h6 category mt-3"><a class="text-info" title="{{ i18n "category" }} {{ $category}}" href="{{ $.Site.BaseURL }}categories/{{ $category | urlize }}/">{{ $category }}</a></span> 
                                        {{ end }}
                                        <h3 class="card-title">
                                            <a href="{{ .Permalink }}">{{ .Title }}</a>  
                                        </h3>
                                        <p class="card-description">
                                            {{ .Summary |  htmlUnescape | plainify | truncate 230 }}
                                            <br>
                                            <a href="{{ .Permalink }}">{{ i18n "continue_reading" }} </a>
                                        </p>
                                        <p class="author">
                                            {{ with .Params.authors }} {{ range . }} {{ $author := ($.GetPage (printf "/authors/%s/" .) ) }} {{ with $author }} {{- i18n "by" -}}
                                            <b>
											<a href="{{ $author.Permalink }}" itemprop="author" title="{{ . }}" class="author">{{ $author.Params.name }}</a>
																	{{ end }}
																</b>, {{ end }} {{ end }}
                                            <time class="published text-muted" itemprop="datePublished" datetime="{{ .Date.Format " 2006-01-02T15:04:05 " }}">{{ .Date.Format "January 2, 2006" }}</time>
                                            <span class="badge badge-info text-white font-weight-normal">{{ .Params.article_source }}</span> {{ if eq .Params.ml_prediction_gnb 1 }}<span class="badge badge-success text-white font-weight-normal">auto</span>{{ end }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                            <!-- second post -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
            </div>
            {{ if or .Paginator.HasPrev .Paginator.HasNext }}

            {{ $paginator := .Paginator }}
            
            <section class="py-1">
                <div class="container">
                  <div class="row py-2">
                    <div class="col-lg-12">
            
            {{ $pag := $.Paginator }}
            {{ if gt $pag.TotalPages 1 -}}
            <ul class="pagination pagination-primary m-4 d-flex justify-content-center">
              {{ if $pag.HasPrev }}
              {{ with $pag.First -}}
              <li class="page-item">
                <a href="{{ .URL }}" class="page-link" aria-label="First">
                    <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                </a>
              </li>
              {{ end }}
            
            
            
              <!-- <li class="page-item disabled">
                <span class="page-link" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                </span>
              </li>
             -->
            
              <li class="page-item{{ if not $pag.HasPrev }} disabled{{ end }}">
                <a {{ if $pag.HasPrev }}href="{{ $pag.Prev.URL }}"{{ end }} class="page-link" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                </a>
              </li>
            {{ end }}
            
            
              
              {{- $ellipsed := false -}}
              {{- $shouldEllipse := false -}}
              {{- range $pag.Pagers -}}
              {{- $right := sub .TotalPages .PageNumber -}}
              {{- $showNumber := or (le .PageNumber 3) (eq $right 0) -}}
              {{- $showNumber := or $showNumber (le .TotalPages 5) -}}{{/* Issue #7523 */}}
              {{- $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2))) -}}
              {{- if $showNumber -}}
                {{- $ellipsed = false -}}
                {{- $shouldEllipse = false -}}
              {{- else -}}
                {{- $shouldEllipse = not $ellipsed -}}
                {{- $ellipsed = true -}}
              {{- end -}}
              {{- if $showNumber }}
              <li class="page-item{{ if eq . $pag }} active{{ end }}">
                <a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a>
              </li>
              {{- else if $shouldEllipse }}
              <li class="page-item disabled">
                <span aria-hidden="true">&nbsp;&hellip;&nbsp;</span>
              </li>
              {{- end -}}
              {{- end }}
              {{ if $pag.HasNext }}
              <li class="page-item{{ if not $pag.HasNext }} disabled{{ end }}">
                <a {{ if $pag.HasNext }}href="{{ $pag.Next.URL }}"{{ end }} class="page-link" aria-label="Next">
                    <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                </a>
              </li>
            
              {{- with $pag.Last }}
              <li class="page-item">
                <a href="{{ .URL }}" class="page-link" aria-label="Last">
                    <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </a>
              </li>
              {{- end }}
              {{ end }}
            </ul>
            {{ end }}
            </div>
            </div>
            </div>
            </section>
            {{ end }}
            <div class="separator separator-primary"></div>

        </div>
    </div>
</div>
{{ end }}
