{{ if and .Site.Params.lazyImage (not .IsHome) -}}
<script src="{{ .Site.Params.staticPrefix }}{{ "js/lazyload.min.js" | relURL }}"></script>
<script>
    var lazyImage = new LazyLoad({
        container: document.getElementById('article')
    });
</script>
{{ end }}
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
{{ $jsMermaid := resources.Get "js/mermaid.min.js" }}
<script src="{{ $jsMermaid.Permalink }}"></script>
<script>
    window.onload = function() {
        mermaid.init(undefined, ".language-mermaid");
    };
</script>
{{ $custom := resources.Get "css/custom.css" }}
<link rel="stylesheet" href="{{$custom.Permalink}}"> {{ $gregory := resources.Get "js/gregory.js" }}
<script type="text/javascript" src="{{$gregory.Permalink}}"></script>